[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colorlog = "*"
flasgger = "*"
flask = "*"
flask-cors = "*"
flask-restful = "*"
flask-SQLAlchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
mysql-connector-python = "*"
python-dotenv = "*"
SQLAlchemy = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.8"
